.advantages {
  background-color: #f6f6f6;
}
// .header--main {
// }
// .container {
// }
.advantages-block {
  // background-image: url(./img/Car-bg-2.png);
  // background-repeat: no-repeat;
  // background-position: left bottom 10px;
  @include flex-sb;
  margin-bottom: 120px;

  // .advantages-block_subtitle

  &__percent {
    padding-top: 55px;


    .percent-hundred {
      @include flex;
      position: relative;
      margin-top: 57px;
      margin-left: 113px;

      &__one {
        margin-right: 16px;
      }

      &__two {
        width: 208px;
      }

      &__hundred {
        font-weight: 600;
        font-size: 205px;
        line-height: 135px;
        color: rgba(56, 92, 232, 0.2);
      }

      &__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
        text-transform: uppercase;
        color: var(--color-shaft);
      }

      &__subtitle {
        font-weight: 400;
        font-size: 13px;
        line-height: 27px;
        color: var(--color-boulder);
      }

      &__img {
        position: absolute;
        bottom: 29px;
        top: 107px;
        left: -55px;
      }
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: var(--color-boulder);
  }

  // .advantages-block__list

  &__list {
    margin-top: 55px;
    margin-bottom: 41px;
  }

  // .advantages-block__item

  &__item {
    position: relative;
    background-color: #ddd;
    padding: 28px 40px;
    width: 263px;
    height: 147px;
  }

  // .advantages-block__title

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-shaft);
  }

  &__number {
    font-weight: 300;
    font-size: 55px;
    line-height: 55px;
    color: var(--color-white);
    position: absolute;
    bottom: -11px;
    right: 23px;
  }
}

.advantages-color {
  &--one {
    background-color: rgba(56, 92, 232, 0.2);
    span {
      color: var(--color-white);
    }
  }

  &--two {
    background-color: var(--color-white);
    span {
      color: rgba(56, 92, 232, 0.2);
    }
  }

  &--three {
    background-color: #385ce8;
    span {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &--text {
    color: var(--color-white);
    position: relative;
    bottom: 0;
  }
}
