.btn {
  @include flex-v-center;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 10px;
  min-width: 160px;
  border-radius: 10px;
  color: var(--color-shaft);


  &--main {
    background-origin: border-box;
    border: solid 1px transparent;
    background-image: linear-gradient(
      90deg,
      var(--grad-Shakespeare) 18%,
      var(--grad-Riptide) 100%
    );
    background-size: 200% 100%;
    background-position: 80% 0;
    transition: background-position 0.9s;

    &:hover {
      background-position: 0 0;
    }
  }

  &--ingradient {
    color: var(--color-white);
  }

  &--outgradient {
    color: var(--color-shaft);
    box-shadow: 2px 1000px 1px #fff inset;
  }

  &__spin > img {
    left: 10px;
    vertical-align: baseline;
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    animation: 0.5s infinite linear spin;
    -webkit-animation: 0.5s infinite linear spin;
    width: 21px;
  
    &__spin:hover > img {
      @keyframes spin {
        100% {
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
        }
      }
    }
  }
}

.btns {
  @include flex-ali-center;

  &__btn {
    &:not(:last-child) {
      background-origin: border-box;
      margin-right: 23px;
    }
  }

  &__log-out {
    margin: 0;
    padding: 0;
    min-width: 49px;

    &:hover {
      color: var(--color-pastel);
    }
  }
}



//XXX Код ниже для реализации наведения кнопок, пока думаем

// .btns {
//   @include flex-ali-center;

//   &__btn {
//     padding: 10px;
//     width: 160px;
//     border-radius: 10px;

//     &:not(:last-child) {

//       margin-right: 23px;
//     }

//     &--ingradient {
//       color: var(--color-white);

//     }

//     &--outgradient {
//       color: var(--color-white);

//     }

//   }

//   &__log-out {
//     margin: 0;
//     padding: 0;
//     min-width: 70px;

//     &:hover {
//       color: var(--color-pastel);
//     }
//   }
// }

// .btn {
//   font-weight: 600;
//   font-size: 14px;
//   line-height: 17px;
//   text-align: center;

//   &--main {
//     background-origin: border-box;
//     border: solid 1px transparent;
//     background-image: linear-gradient(
//       90deg,
//       var(--grad-Shakespeare) 18%,
//       var(--grad-Riptide) 100%
//     );
//   }

//   &:hover{
//     color:inherit;
//     box-shadow: 2px 1000px 1px #fff inset;
//   }
// }
