.btn {
  @include flex-v-center;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 10px;
  min-width: 160px;
  border-radius: 10px;
  color: var(--color-shaft);

  & > img {
    width: 22px;
    height: 22px;
    margin-right: 6px;
  }

  &--grad {
    align-items: center;
    color: var(--color-white);
    border: solid 1px transparent;
    background-origin: border-box;
    background-image: linear-gradient(
      90deg,
      var(--grad-Shakespeare) 18%,
      var(--grad-Riptide) 100%
    );
    background-size: 200% 100%;
    background-position: 80% 0;
    transition: background-position 0.9s;

    &:hover {
      background-position: 0 0;
    }

    &:hover > img {
      animation: 0.5s infinite linear spin;
      animation-name: spin;
    }
  }

  &--ingradient {
    color: var(--color-white);
  }

  &--outgradient {
    color: var(--color-shaft);
    box-shadow: 2px 1000px 1px #fff inset;
  }

  &--white {
    align-items: center;
    box-shadow: 4.37697px 3.74933px 32.4887px rgba(35, 35, 35, 0.14);
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--color-shaft);
    padding: 10px 40px;
  }

  &__spin > img {
    left: 10px;
    margin-right: 5px;
    vertical-align: baseline;
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    width: 21px;

    @keyframes spin {
      100% {
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
      }
    }
  }
}

.btn-small {
  min-width: 70px;
  height: 18px;
  border-radius: 30px;
  padding: 0 10px;
  font-weight: 400;
  font-size: 7px;
  line-height: 5px;
  letter-spacing: -0.03em;
  &--grad {
    background: linear-gradient(90deg, #4dadd8 18%, #81e9c0 100%);
    color: var(--color-white);
  }

  &--danger {
    text-transform: uppercase;
    background: #fae8f4;
    color: var(--color-boulder);
    width: 90px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-image: url(./img/danger-btn.svg);
    background-repeat: no-repeat;
    background-position: left 3px center;
  }
}

.btns {
  @include flex-ali-center;

  &__btn {
    &:not(:last-child) {
      background-origin: border-box;
      margin-right: 23px;
    }
  }

  &__log-out {
    margin: 0;
    padding: 0;
    min-width: 49px;

    &:hover {
      color: var(--color-pastel);
    }
  }
}

//XXX Код ниже для реализации наведения кнопок, пока думаем

// .btns {
//   @include flex-ali-center;

//   &__btn {
//     padding: 10px;
//     width: 160px;
//     border-radius: 10px;

//     &:not(:last-child) {

//       margin-right: 23px;
//     }

//     &--ingradient {
//       color: var(--color-white);

//     }

//     &--outgradient {
//       color: var(--color-white);

//     }

//   }

//   &__log-out {
//     margin: 0;
//     padding: 0;
//     min-width: 70px;

//     &:hover {
//       color: var(--color-pastel);
//     }
//   }
// }

// .btn {
//   font-weight: 600;
//   font-size: 14px;
//   line-height: 17px;
//   text-align: center;

//   &--main {
//     background-origin: border-box;
//     border: solid 1px transparent;
//     background-image: linear-gradient(
//       90deg,
//       var(--grad-Shakespeare) 18%,
//       var(--grad-Riptide) 100%
//     );
//   }

//   &:hover{
//     color:inherit;
//     box-shadow: 2px 1000px 1px #fff inset;
//   }
// }
