.chip-tuning {
  &__block {
    @include flex-sb;
    @include bp(mobile) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    margin-bottom: 121px;
  }

  &__param {
    max-width: 360px;

    @include bp(mobile) {
      max-width: 100%;
      margin-bottom: 40px;
    }
  }

  &__boost {
    @include flex;
    font-weight: 600;
    @include toRem(17);
    line-height: 23px;
    color: var(--color-shaft);
    @include bp(mobile) {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }
}
.subtitle {
  font-weight: 600;
  @include toRem(35);
  line-height: 35px;
  color: var(--color-shaft);
  margin-bottom: 18px;
}
.descr {
  font-weight: 400;
  @include toRem(13);
  line-height: 27px;
  color: var(--color-boulder);
}
.chip-block {
  width: 370px;
  height: 163px;
  background-repeat: no-repeat;
  background-position: top left;
  padding: 20px;
  @include bp(mobile) {
    width: 100%;
    margin-bottom: 50px;
  }

  &:not(:last-child) {
    margin-right: 30px;

    @include bp(mobile) {
      margin-right: 0;
    }
  }

  &__mother {
    background-image: url(./img/green.jpg);
    position: relative;


    img {
      position: absolute;
      bottom: 53px;
      left: -11px;
    }

    p {
      position: relative;
      right: -145px;
      top: 29px;
      width: 138px;
      display: inline-block;
      @include toRem(17);
    }
  }

  // .chip-block_speed

  &__speed {
    position: relative;
    background-image: url(./img/blue.jpg);

    img {
      position: absolute;
      bottom: 39px;
      left: 10px;
    }

    p {
      @include toRem(17);
      position: relative;
      right: -159px;
      top: 25px;
      width: 164px;
      display: inline-block;
    }
  }
}
