.chip-tuning {
  &__block {
    @include flex-sb;
    margin-bottom: 121px;
  }

  &__param {
    max-width: 360px;
  }

  &__boost {
    @include flex;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    color: var(--color-shaft);
  }
}
.subtitle {
  font-weight: 600;
  font-size: 35px;
  line-height: 35px;
  color: var(--color-shaft);
  margin-bottom: 18px;
}
.descr {
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;
  color: var(--color-boulder);
}
.chip-block {
  // .chip-block_mother
  width: 370px;
  height: 163px;
  background-repeat: no-repeat;
  background-position: top left;
  padding: 20px;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &__mother {
    background-image: url(./img/green.jpg);
    position: relative;

    img {
      position: absolute;
      bottom: 53px;
      left: -11px;
    }

    p {
      position: relative;
      right: -145px;
      top: 29px;
      width: 138px;
    }
  }

  // .chip-block_speed

  &__speed {
    position: relative;
    background-image: url(./img/blue.jpg);

    img {
      position: absolute;
      bottom: 39px;
      left: 10px;
    }

    p {
      position: relative;
      right: -159px;
      top: 25px;
      width: 164px;
    }
  }
}
