.contacts-block {
  padding-top: 93px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 60px;

  &__list {
    height: 92px;
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: var(--color-silver);
    margin-bottom: 12px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-black);
  }

  &__docum {
    padding-top: 10px;
    // width: 239px;
  }

  &__mail {
    justify-self: start;

    .title {
      margin-bottom: 57px;
    }

    h5 {
      font-weight: 500;
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #385ce8;
    }

    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 23px;
      color: var(--color-boulder);
    }
  }

  &__field {
    @include flex-cl-с;
    padding-left: 92px;
    background-image: url(./img/mail.svg);
    background-repeat: no-repeat;
    background-position: center left 23px;
    background-size: 50px 50px;
    width: 342px;
    height: 84px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;

    // &:hover {
    //   background: linear-gradient(90deg, #4DADD8 18%, #81E9C0 100%);
    // }
  }
}
