.contacts-block {
  padding-top: 93px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;

  &__list {
    width: 322px;
    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #bfbfbf;
    margin-bottom: 54px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-black);
  }

  &__docum {
    width: 239px;
  }

  &__mail {
    justify-self: start;

    h5 {
      font-weight: 500;
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #385ce8;
    }

    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 23px;
      color: #7c7c7c;
    }
  }

  &__field {
    @include flex-cl;
    justify-content: center;
    padding-left: 80px;
    background-image: url(./img/mail.svg);
    background-repeat: no-repeat;
    background-position: center left 23px;
    width: 342px;
    height: 84px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
  }
}
