.footer {
  margin-top: 100px;
  padding: 48px 0;
  background-color: #f6f6f6;

  &__nav {
    margin-left: -214px;
  }

  &__item {
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 0.04em;
    color: var(--color-boulder);
    &:not(:last-child) {
      margin-right: 43px;
    }
  }

  &__link{
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 0.04em;
    color: var(--color-boulder);
  }
}
