.header {
  padding-top: 24px;
  &__container {
    @include flex-c-sb;
  }

  &__logo {
    min-width: 130px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 98px;
    }
  }

  &--white {
    padding: 24px;
  }
}
