.history {
  flex-grow: 1;
  &__container {
    padding: 71px 0;
    @include bp(mobile){
      padding: 40px 0;
    }
  }

  &__block {
    max-width: 1021px;
    min-height: 459px;
    margin: 0 auto;
    padding: 49px 15px 0 44px;
    @include bp(mobile) {
      padding: 15px;
    }
  }

  &__title {
    font-weight: 600;
    @include toRem(25);
    line-height: 20px;
    color: var(--color-shaft);
    margin-bottom: 26px;
  }

  &__search {
    @include flex;
    align-items: baseline;
    margin-bottom: 24px;
    @include bp(mobile) {
      display: flex;
      flex-direction: column;
    }
  }

  &__list {
    @include flex;
    margin-right: 41px;
    @include bp(mobile){
      display: none;
    }
  }

  &__label {
    flex-grow: 1;
    @include bp(mobile) {
      width: 100%;
    }
  }

  &__label > input {
    font-weight: 500;
    @include toRem(10);
    line-height: 9px;
    color: var(--color-boulder);
    padding: 4px 0;
  }
}

.search-form {
  margin-right: 24px;
  position: relative;
  min-width: 167px;
  width: 263px;
  @include bp(mobile) {
    margin-bottom: 20px;
    width: 100%;
  }

  &__input {
    border: none;
    background: #f6f6f6;
    border-radius: 10px;
    font-weight: 300;
    @include toRem(11);
    line-height: 9px;
    color: #7c7c7c;
    padding: 15px 20px;
    width: 100%;
  }

  &:focus {
    border: 3px solid red;
  }

  &__icon {
    position: absolute;
    background-image: url(./img/search.png);
    width: 12px;
    height: 12px;
    border: 0;
    right: 28px;
    top: 50%;
    transform: translate(50%, -50%);
  }
}

.tag {
  font-weight: 300;
  @include toRem(10);
  line-height: 9px;

  &__link {
    border: 0.5px solid var(--color-boulder);
    border-radius: 8.5px;
    padding: 3px 16px;
    color: var(--color-white);
    font-weight: 300;
    @include toRem(10);
    line-height: 9px;
    color: var(--color-boulder);

    &:not(:last-child) {
      margin-right: 6px;
    }

    &:hover {
      background-color: #385ce8;
      color: var(--color-white);
    }
  }
}

.table-history {
  border-collapse: collapse;
  width: 100%;
  text-align: left;

  &__head {
    font-weight: 300;
    @include toRem(10);
    line-height: 9px;
    color: var(--color-boulder);
    @include bp(mobile) {
      display: none;
    }
  }

  &__body {
    font-weight: 500;
    @include toRem(10);
    line-height: 9px;
    color: var(--color-shaft);
  }

  &__row {
    border-bottom: 0.5px solid #d3d7db;
    padding-bottom: 10px;
    @include bp(mobile) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin-bottom: 20px;
    }
  }

  &__column {
    @include toRem(10);
    height: 41px;
    padding-left: 10px;
    @include bp(mobile) {
      @include toRem(13);
      line-height: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
      padding: 0;
    
    }

    &:nth-child(1) {
      text-align: center;
    }
  }

  &__img > img {
    @include bp(mobile) {
      width: 35px;
    }
  }

  &__download,
  &__remove {
    @include bp(mobile) {
      width: 100%;
    }
  }

  &__download > button,
  &__remove > button {
    @include bp(mobile) {
      @include toRem(15);
      width: 100%;
      height: 40px;
      border-radius: 10px;
    }
  }

  &__remove > button{
        background-image: url(./img/danger-btn.svg);
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: 20px ;
  }
}
