.modal {
  position: fixed;
  background-color: rgba(#000, 0.2);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 3;
  // display: none; // Включить/Отключить отображение модального окна

  &__container {
    @include flex-all-cl-с;
    position: relative;
    padding-top: 56px;
    background-color: var(--color-white);
    transform: translateY(186px);
    max-width: 400px;
    margin:  auto;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;

  }

  &__content {
    @include flex-cl-с;
  }

  &__close {
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url(./img/close-modal.svg);
    right: 31px;
    top: 23px;
    cursor: pointer;
    opacity: 0.2;
    &:hover {
      opacity: 1;
    }
  }

  &__title {
    font-weight: 600;
    @include toRem(33);
    line-height: 23px;
    text-align: center;
    color: var(--color-shaft);
    margin-bottom: 15px;
  }

  &__subtitle {
    font-weight: 300;
    @include toRem(13);
    line-height: 21px;
    color: var(--color-boulder);
    min-height: 63px;
    text-align: center;
  }

  &__field {
    min-width: 260px;
    &:nth-child(1) {
      margin-bottom: 14px;
    }
  }

  &__forgot {
    display: flex;
    justify-content: space-between;
    // align-self: flex-end;
    margin-bottom: 28px;

    &--right {
      align-self: flex-end;
    }
  }

  &__link {
    font-weight: 400;
    @include toRem(13);
    line-height: 21px;
    text-align: right;
    text-decoration-line: underline;
    color: var(--color-boulder);
  }

  &--right {
    align-self: flex-end;
  }

  &__btns {
    text-align: center;
    margin-bottom: 31px;
  }
}

.form-field {
  &__input {
    border: none;
    width: 100%;
    height: 51px;
    background: #f6f6f6;
    border-radius: 10px;
    padding-left: 37px;
    font-weight: 300;
    @include toRem(13);
    line-height: 21px;
    color: var(--color-boulder);
  }
}
