.nav {
  &__list {
    @include flex;
  }

  &__link {
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 0.03em;
    color: var(--color-shaft);
  }
}

.nav-color {
  &:hover {
    color: var(--color-pastel);
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
  }

  &--header {
    color: var(----color-shaft);
  }

  &--footer {
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 0.04em;
    color: var(--color-boulder);
  }
}
