.nav {
  &__list {
    @include flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 98px;
    }
  }

  &__link {
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 0.03em;

    &:hover {
      color: var(--color-pastel);
      transition: 0.4s ease-out;
      -webkit-transition: 0.4s ease-out;
      -moz-transition: 0.4s ease-out;
      -ms-transition: 0.4s ease-out;
      -o-transition: 0.4s ease-out;
    }
  }
}

.nav-color {
  &--header {
    color: var(----color-shaft);
  }

  &--footer {
font-weight: 400;
font-size: 13px;
line-height: 25px;
letter-spacing: 0.04em;
color: #7C7C7C;
  }
}
