.nav {
  @include bp(mobile) {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    transform: translateX(300px);
    transition: transform 0.4s ease-out;
    backdrop-filter: blur(4px);
    background-color: rgb(101, 219, 156, 0.5);
    text-align: center;
  }

  &__visible {
    @include bp(mobile) {
      display: block;
      transform: translateX(0px);
      transition: transform 0.7s ease-in-out;
      min-width: 200px;
      backdrop-filter: blur(4px);
      background-color: rgb(101, 219, 156, 0.5);
      text-align: center;
    }
  }
  &__list {
    @include flex;
    @include bp(mobile) {
      flex-direction: column;
      transform: translateY(200px);
    }
  }

  &__item {
    @include bp(mobile) {
      padding: 25px 0;
      margin-right: 0px !important;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 25px;
    letter-spacing: 0.03em;
    color: var(--color-shaft);
    @include bp(mobile) {
      @include toRem(30);
      font-weight: 500;
      padding: 0 50px;
      &:hover {
        color: var(--color-white)!important;
      }
    }
  }
}

.nav-color {
  &:hover {
    color: var(--color-pastel);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
}
