.tuning {
  flex-grow: 1;
  &__container {
    @include flex-sb;
    max-width: 974px;
    min-height: 707px;
    background: var(--color-white);
    box-shadow: 5.3px 4.54px 58.34px rgba(35, 35, 35, 0.11);
    border-radius: 18px;
    margin: 90px auto 40px;
  }

  &__bg {
    background-image: url(./img/pay-bg.png);
    background-repeat: no-repeat;
    background-position: right;
  }

  &__title {
    font-weight: 600;
    @include toRem(25);
    line-height: 20px;
    color: var(--color-shaft);
    margin-bottom: 24px;
    padding-top: 32px;
  }

  &__options {
    box-shadow: 5.3px 4.54px 75.34px rgb(35 35 35 / 6%);
    flex-basis: 40%;
    margin-left: 56px;
    padding: 0 33px;
  }

  &__label {
    display: flex;
    flex-direction: column;
  }

  .choice {
    flex-basis: 50%;
    padding: 0 15px;
    &__task {
      margin-bottom: 10px;
    }

    &__descr {
      @include flex;
      margin-bottom: 51px;

      .left-name {
        font-weight: 600;
        @include toRem(12);
        line-height: 19px;
        color: var(--color-shaft);
        margin-right: 52px;
      }

      .right-name {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        @include toRem(12);
        line-height: 19px;
        color: var(--color-shaft);
      }
    }

    &__stamp {
      p {
        font-weight: 600;
        @include toRem(10);
        line-height: 19px;
        letter-spacing: 0.01em;
        color: var(--color-shaft);
        margin-bottom: 7px;
        margin-left: 18px;

        &::before {
          content: url(./img/Info.svg);
          height: 15.76px;
          width: 15.76px;
          vertical-align: -20%;
          margin-right: 9px;
        }
      }

      span {
        font-weight: 400;
      }
    }

    &__code {
      margin-bottom: 30px;
      margin-left: 26px;
      p {
        font-weight: 500;
        @include toRem(12);
        line-height: 19px;
        letter-spacing: 0.01em;
        color: #c1c1c1;
      }

      span {
        font-weight: 500;
        @include toRem(14);
        line-height: 19px;
        letter-spacing: 0.01em;
        color: var(--color-shaft);
      }
    }
  }
}

.label-select {
  padding: 15px 0;

  &__text {
    font-weight: 300;
    @include toRem(13);
    line-height: 9px;
    margin-bottom: 6px;
    color: var(--color-boulder);
  }

  &__input {
    border: none;
    font-weight: 500;
    @include toRem(14);
    line-height: 9px;
    color: var(--color-shaft);
    border-bottom: 0.5px solid #d3d7db;
    width: 100%;
    padding-bottom: 5px;
  }
}

.label-upload {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  border: 0.5px solid #d3d7db;
  border-radius: 9px;
  overflow: hidden;
  border-radius: 9px;

  &__file {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
  }

  &__btn {
    position: relative;
    display: inline-block;
    background: #385ce8;
    height: 51px;
    width: 51px;
    border-radius: 9px;
    background-image: url(./img/paperclip.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &__btn:hover {
    background-color: var(--color-pastel);
  }

  &__text {
    font-weight: 300;
    @include toRem(12);
    line-height: 9px;
    color: #7c7c7c;
    margin-left: 10px;
  }
}

.label-file {
  position: relative;
  display: block;
  margin-top: 20px;

  &__button {
    position: absolute;
    left: 0;
    border: none;
    background: #385ce8;
    border-radius: 9px;
    height: 51px;
    width: 51px;
    background-image: url(./img/paperclip.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
  }

  &__button:hover {
    background-color: var(--color-pastel);
  }

  &__input {
    border: 0.5px solid #d3d7db;
    border-radius: 9px;
    height: 51px;
    width: 100%;
    padding-left: 60px;
    margin-bottom: 10px;
  }

  &__descr {
    font-weight: 300;
    @include toRem(13);
    line-height: 15px;
    color: var(--color-boulder);
    margin-bottom: 30px;
  }
}

.task {
  border-radius: 5px;
  font-weight: 600;
  @include toRem(14);
  line-height: 20px;
  letter-spacing: 0.03em;
  color: var(--color-white);
  background: var(--color-pastel);

  span {
    font-weight: 500;
    @include toRem(11);
    line-height: 19px;
    letter-spacing: 0.02em;
  }
  &__head {
    width: 268px;
    text-align: center;
    padding: 1px 0px;
  }
  &__bottom {
    padding: 11px 38px;
  }
}

.table {
  font-style: normal;
  font-weight: 500;
  @include toRem(12);
  line-height: 12px;
  letter-spacing: 0.01em;
  color: #c1c1c1;
  border-collapse: collapse;
  width: 100%;

  &__column {
    padding: 10px 0;
    &:nth-child(2) {
      padding-left: 20px;
    }
    &:nth-child(3) {
      text-align: left;
      padding-left: 20px;
    }

    &:nth-child(4) {
      text-align: left;
    }
  }

  &__row {
    &:not(:last-child) {
      border-bottom: 1px solid;
    }
  }

  &__head {
    border-bottom: 1px solid;
  }

  &__title {
    font-weight: 500;
    @include toRem(14);
    line-height: 19px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--color-shaft);
  }

  &__desc {
    font-weight: 500;
    @include toRem(10);
    line-height: 12px;
    letter-spacing: 0.01em;
    color: #c1c1c1;
  }
}

.custom-checkbox {
  &__input {
    margin: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &__input + &__text::before {
    content: "";
    display: inline-block;
    border: 1px solid #999999;
    width: 17.49px;
    height: 17.49px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }

  &__input:checked + &__text::before {
    background-color: #385ce8;
    background-image: url(./img/check.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 16px 11px;
  }

  &__input:disabled + &__text::before {
    background-color: #999999;
    background-image: url(./img/disabled.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 11px 5px;
  }

  &__input:not(:disabled):not(:checked):hover + &__text::before {
    border-color: var(--grad-Shakespeare);
  }
}
