.tune {
  background: url(./img/svg/cloud.svg) no-repeat right top;
  &__bg {
    background: url(./img/svg/Car.svg) no-repeat right -4px top 119px;
    @include bp(mobile){
      background: none;
    }
  }

  &__content {
    @include bp(mobile){
      display: flex;
      justify-content: center
    }
    @include flex-sb;
    padding-top: 91px;
    padding-bottom: 210px;
    @include bp(mobile){
      padding-bottom: 40px;
    }
  }

  &__btns{
    @include flex;
    @include bp(mobile){
      flex-direction: column;
      margin-bottom: 20px;
    }
  }

  &__btn{
    @include bp(mobile){
      margin-right: 0;
      margin-bottom: 20px;
      padding: 20px;
    }
    &:not(:last-child){
      margin-right: 20px;
      @include bp(mobile){
        margin-right: 0;
      }

    }
  }

  &__left {
    max-width: 420px;

    &--slogan {
      display: block;
      @include toRem(26);
      line-height: 32px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: var(--color-pastel);
      margin-bottom: 8px;
    }

    &--main-title {
      @include toRem(55);
      font-weight: 600;
      line-height: 68px;
      color: var(--color-shaft);
      margin-bottom: 21px;
    }

    &--descr {
      font-weight: 400;
      @include toRem(21);
      line-height: 26px;
      color: var(--color-black);
      margin-bottom: 42px;
    }
  }

  &__right {
    @include bp(mobile){
      display: none;
    }
    display: flex;
    align-items: flex-end; // FIXME Как лучше реализовать позиционирование с машиной
    flex-wrap: wrap;
    flex-direction: column;
    transform: translateY(80px);
    font-weight: 600;
    line-height: 19px;
    color: var(--color-shaft);

    &--fb {
      width: 165px;
      margin-bottom: 20px;
      padding: 31px 24px;
      img {
        margin-bottom: 6px;
      }

      p{
        @include toRem(15);
      }
    }

    &--sb {
      @include flex;
      padding-top: 26px;
      padding-left: 31px;
      padding-right: 25px;
      width: 204px;

      img {
        transform: translateY(-8px);
      }
    }
  }
}

.white-block {
  background-color: var(--color-white);
  border-radius: 18px;
  box-shadow: 5.3px 4.54px 39.34px rgba(35, 35, 35, 0.14);
}
