.service {
  @include flex-sb;
  @include bp(mobile) {
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  margin-bottom: 162px;

  // .service__list

  &__list {
    margin-top: 95px;
    @include bp(mobile){
      margin-top: 55px;
    }
  }

  // .service__item

  &__item {
    @include bp(mobile) {
      width: 100%;
    }
    background-image: url(./img/line.svg);
    background-repeat: no-repeat;
    background-position: left 10px;
    width: 430px;
    padding-left: 38px;

    &:not(:last-child) {
      margin-bottom: 62px;
    }
  }

  // .service__title

  &__title {
    font-weight: 500;
    @include toRem(19);
    line-height: 19px;
    color: var(--color-shaft);
    margin-bottom: 7px;
  }

  // .service__descr

  &__descr {
    font-weight: 400;
    @include toRem(13);
    line-height: 27px;
    color: var(--color-boulder);
  }

  // .service__img

  &__img {
    margin-top: 30px;
    object-fit: cover;
    width: 782px;
    height: 436px;
    text-align: center;
    background-image: url(./img/graph.svg);
    // background-size: cover;
    background-repeat: no-repeat;
    background-position: top 36px left 81px; //FIXME Возможно надо поправить
    @include bp(mobile) {
      display: none;
    }
  }
}
