.stg {
  &__content {
    @include flex-center;
    padding: 90px 0;
    @include bp(mobile) {
      flex-direction: column;
    }
  }

  &__change {
    @include flex;
    flex-direction: column;
    align-self: flex-start;
    width: 471px;
    height: 397px;
    margin-right: 38px;
    padding: 49px 35px;
    @include bp(mobile) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
    }

    & > .stg__title {
      margin-bottom: 16px;
    }
  }

  &__title {
    font-weight: 600;
    @include toRem(25);
    line-height: 20px;
    color: var(--color-shaft);
  }

  &__field {
    & > .form-field__input:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  &__verif {
    @include flex;
    flex-direction: column;
    width: 341px;
    padding: 49px 35px;

    & > .stg__title {
      margin-bottom: 29px;
    }

    @include bp(mobile) {
      width: 100%;
    }
  }

  &__danger {
    @include toRem(12);
    font-weight: 400;
    line-height: 17px;
    color: var(--color-shaft);
    padding: 15px 55px;
    width: 271px;
    height: 62px;
    background: #fae8f4;
    color: var(--color-boulder);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-image: url(./img/danger-btn.svg);
    background-repeat: no-repeat;
    background-position: left 17px center;
    background-size: 23px;
    @include bp(mobile) {
      align-self: center;
      margin-bottom: 15px
    }
    
  }

  &__strong {
    @include toRem(12);
  }

  &__btn {
    margin-top: auto;
    align-self: flex-start;
  }
}
