@mixin flex {
    display: flex;
}

@mixin flex-wr{
    display: flex;
    flex-wrap: wrap;
}


@mixin flex-v-center{
    display: flex;
    text-align: center;
    justify-content: center;
}
@mixin flex-center{
    display: flex;
    justify-content: center;
}

@mixin flex-c-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-sb {
    display: flex;
    justify-content: space-between;
}

@mixin flex-ali-center{
    display: flex;
    align-items: center;
}

@mixin flex-cl{
    display: flex;
    flex-direction: column;
}

@mixin flex-cl-с{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flex-all-cl-с{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}