@mixin flex {
    display: flex;
}

@mixin flex-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-ali-center{
    display: flex;
    align-items: center;
}