@mixin flex {
    display: flex;
}

@mixin flex-wr{
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-c-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-sb {
    display: flex;
    justify-content: space-between;
}

@mixin flex-ali-center{
    display: flex;
    align-items: center;
}

@mixin flex-cl{
    display: flex;
    flex-direction: column;
}