html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1280px;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

/* Общие стили */
.title {
  font-weight: 600;
  font-size: 35px;
  line-height: 35px;
  color: var(--color-shaft);
}
/* Общие стили */
