html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1280px;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

/*
* Burger Menu
*/
.burgerbox {
  display: none;
  @include bp(mobile) {
    --size: 35px;
    position: relative;
    height: var(--size);
    min-width: var(--size);
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 3;
  }

  &__input {
    position: absolute;
    display: none;
    z-index: -1;
  }

  &__input:checked ~ &__box,
  &__input:checked ~ &__box::before,
  &__input:checked ~ &__box::after {
    background-color: teal;
  }

  &__input:checked ~ &__box {
    transition: 0.2s ease-in-out;
    background: transparent;
  }

  &__input:checked ~ &__box::before {
    transition: transform 0.4s ease-in-out;
    transform-origin: 1 0;
    transform: rotate(45deg);
  }

  &__input:checked ~ &__box::after {
    transition: transform 0.4s ease-in-out;
    transform-origin: 0 1;
    transform: rotate(-45deg);
  }

  &__box,
  &__box::after,
  &__box::before {
    content: "";
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #000;
    border-radius: 2px;
    transition: transform 0.2s ease-in-out;
  }

  &__box::before {
    transform: translateY(-10px);
  }
  &__box::after {
    transform: translateY(10px);
  }

  &__fixed {
    position: fixed;
    right: 15px;
    bottom: 40px;
  }
}


/* Общие стили */
.white-block {
  background-color: var(--color-white);
  border-radius: 18px;
  box-shadow: 5.3px 4.54px 39.34px rgba(35, 35, 35, 0.14);
}

.title {
  @include toRem(35);
  font-weight: 600;
  line-height: 35px;
  color: var(--color-shaft);
}
/* Общие стили */

/* Задник для секций */

#app {
  /* Общий блок для прижатия футера к низу экрана */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.bg {
  &--grad {
    background: linear-gradient(180deg, #e9e9e9 -15.83%, #ffffff 93.18%);
  }

  &--white {
    background: var(--color-white);
  }
}

/* Задник для секций */
