:root {
  --color-shaft: #212121;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-pastel: #65db9c;
  --color-boulder: #7c7c7c;
  --color-silver: #bfbfbf;
  --grad-Shakespeare: #4dadd8;
  --grad-Riptide: #81e9c0;
  --font-size: 16px;
}

$grid-breakpoints: (
  mobile: 688px,
  tablet: 992px,
  desk: 1312px,
) !default;

// Extra small	xs	Small to large phone	< 600px
// Small	sm	Small to medium tablet	600px > < 960px
// Medium	md	Large tablet to laptop	960px > < 1264px*
// Large	lg	Desktop	1264px > < 1904px*
// Extra large	xl	4k and ultra-wide	> 1904px*
