:root {
  --color-shaft: #212121;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-pastel: #65db9c;
  --color-boulder:#7c7c7c;
  --color-silver:#bfbfbf;
  --grad-Shakespeare:#4DADD8;
  --grad-Riptide:#81E9C0;


}

